body {
    margin: 0;
    padding: 0;
}

h1,h2,h5{
    font-family: "Syne", sans-serif;
}

p,h3,a {
    font-family: "Lora", serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B1B1B;
    padding: 10px 20px;
}

.navbar{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav-logo{
    background-image: url(../assets/Log_1.png);
    background-position: center;
    background-size: contain;
    width: 57px;
    height: 6vh;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}

.navbar ul li a:hover {
    color: #FF9F47;
}

.navbar ul li a.active {
    color: #FF9F47 !important ;
    font-weight: bold !important;
}

.nav-right {
    display: flex;
    gap: 10px;
}

.hero-section {
    background-image: url(../assets/3d-house-model-with-modern-architecture.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    color: #FF9F47;
    font-size: 60px;
    margin-bottom: 15px;
}

.hero-content h3 {
    color: white;
    padding: 5px 150px;
    margin-bottom: 20px;
}

.mission-photo-section {
    padding: 50px 0;
}

.mission-text {
    background-color: #1B1B1B;
    padding: 20px;
    color: white;
    border-radius: 5px;
}

.mission-text h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #FF9F47;
}

.mission-text p {
    font-size: 18px;
}

.background {
    background-color: #050505;
    padding: 50px 0;
}

.properties-section {
    color: white;
}

.properties-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.card {
    background-color: #050505;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
}

.card a {
    margin-left: 25px;
    float: right;
}

.card-body .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card-body .d-flex div {
    display: flex;
}

.card-body .price {
    color: #FF9F47;
    font-size: 18px;
    font-weight: bold;
}

.card-body i {
    margin-right: 5px;
    color: #FF9F47;
}

.card-body .fa-bed, .fa-bath, .fa-car {
    font-size: 18px;
}

.card-title {
    color: #FF9F47;
    font-size: 22px;
}

.card-text {
    color: #ffffff;
}

.property-icons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.property-icons span {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
}

.property-icons i {
    margin-right: 10px;
    color: #FF9F47;
}

.price {
    color: #FF9F47;
    font-size: 18px;
}

.footer {
    background-color: #1B1B1B;
    padding: 20px 0;
    color: #FFFFFF;
}

.footer-logo {
    margin-top: 50px;
    width: 250px;
    height: 5vh;
}

.footer p {
    margin-top: 15px;
    font-size: 14px;
    color: #ffffff;
}

.footer h5 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #FF9F47;
}

.footer-menu {
    list-style: none;
    padding: 0;
}

.footer-menu li {
    margin-bottom: 10px;
}

.footer-menu li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
}

.footer-menu li a:hover {
    color: #fcd9b8;
}

.footer-socials a {
    display: inline-block;
    margin-right: 10px;
}

.footer-socials img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    border-top: 1px solid #FF9F47;
    margin-top: 30px;
    padding-top: 10px;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
}

